@import "./jq/jquery-ui.min.css";
@import "./jq/jquery-ui.structure.min.css";
@import "./jq/jquery-ui.theme.min.css";

@font-face {
  font-family: Germanica;
  src: url('./fonts/Plain-Germanica.woff') format('woff'),
    url("./fonts/Plain Germanica.ttf") format('truetype');
}
.ui-widget, .ui-widget-content, .ui-tabs-panel {
	font-family: Germanica,Arial,sans-serif;
}

.ui-widget .ui-button {
  font-family: Germanica,Arial,sans-serif;
  font-size: 16px;
}

#titles {
  position:fixed;
  top:0px;
  left:0px;
  width:800px;
  height:650px;
  background-image: url('../assets/back.png');
  z-index: 3;
}

.title {
  position: relative;
  font-family: Germanica;
  color: lightgoldenrodyellow;
}

#topline {
  position:fixed;
  top:0px;
  left:0px;
  width: 788px;
  height: 38px;
  padding: 5px;
  z-index: 2;

}

#stats {
  text-align: left;
  width: 50%;
  float: left;
}

#charpanel {
    margin-left: 50%;
    align-items: center;
}

#charpic {
  width: 25%;
  height: 25%;
}
#charInv{

}

.drops-panel  {
  width:788px;
  display: none;
  z-index: 2;
  padding: 5px;
  position:fixed;
  top:50px;
  left:0px;
}

.picPanel {
  width: 210px;
  float:left;
  margin: auto;
}

.panelText {
  width: 175px;
  float:left;
}

#diagOpts {
  height: 210px;
}

#phaserblock {
  position:fixed;
  top:50px;
  left:0px;
  z-index: 1;
}

#npcDiagText {
  display:none;
  padding-left: 10px;
  padding-right:10px;
  height: 210px;
  overflow: auto;
}

.npcResp {
  text-align: right;
  color: red;
}

.finResp {
  text-align: left;
  color: lightblue;
}

.dTable thead {
  display:table;
  width: 100%;
}

.dTable tbody {
    display: block;
    height: 88px;
    overflow: auto;
}

.dTable .dText {
  width: 600px;
}

.gText1 {
  width: 100px;
}

.gText2 {
  width: 500px;
}

.a-clickable-row:hover, .d-clickable-row:hover {
  background-color: #696969;

}

.highlight {
  background-color: #DCDCDC;
}
