@import "./jq/jquery-ui.min.css";
@import "./jq/jquery-ui.structure.min.css";
@import "./jq/jquery-ui.theme.min.css";

@font-face {
  font-family: Germanica;
  src: url('./fonts/Plain-Germanica.woff') format('woff'),
    url("./fonts/Plain Germanica.ttf") format('truetype');
}
.ui-widget, .ui-widget-content, .ui-tabs-panel {
	font-family: Germanica,Arial,sans-serif;
}

.ui-widget .ui-button {
  font-family: Germanica,Arial,sans-serif;
  font-size: 16px;
}

#titles {
  position:fixed;
  top:0px;
  left:0px;
  width:800px;
  height:650px;
  background-image: url('../assets/back.png');
  z-index: 3;
}

.title {
  position: relative;
  font-family: Germanica;
  color: lightgoldenrodyellow;
}

#topline {
  position:fixed;
  top:0px;
  left:0px;
  width: 788px;
  height: 38px;
  padding: 5px;
  z-index: 2;

}

#stats {
  text-align: left;
  width: 50%;
  float: left;
}

#charpanel {
    margin-left: 50%;
    align-items: center;
}

#charpic {
  width: 25%;
  height: 25%;
}
#charInv{

}

.drops-panel  {
  width:788px;
  display: none;
  z-index: 2;
  padding: 5px;
  position:fixed;
  top:50px;
  left:0px;
}

.picPanel {
  width: 210px;
  float:left;
  margin: auto;
}

.panelText {
  width: 175px;
  float:left;
}

#encPanel {
  height: 588px;
}

#encList, #encOpts {
  height: 197px;
  padding: 3px;
}

#encButtons {
  padding: 3px;
}

#diagOpts {
  height: 210px;
}

.rt-align {
  float:right;
}

#phaserblock {
  position:fixed;
  top:50px;
  left:0px;
  z-index: 1;
}

#npcDialogPanel {
  display:none;
}

#npcDiagText {
  display:none;
  padding-left: 10px;
  padding-right:10px;
  height: 210px;
  overflow-y: auto;
}

.npcResp {
  text-align: right;
  color: red;
}

.finResp {
  text-align: left;
  color: lightblue;
}

.dTable, .iTable, .eTable {
   border-collapse: collapse;
   width: 100%;
   table-layout: fixed;
}

.dTable thead, .eTable thead {
  display:table
}

.dTable tbody, .eTable tbody {
    display: block;
    overflow-y: auto;
    width: 100%;
}

.dTable tbody {
  height: 116px;
}

.eTable tbody {
  height: 170px;
}

.dTable tr, .iTable tr, .eTable tr {
  border: 1px solid lightgoldenrodyellow;
  font-family: Arial, Helvetica, sans-serif;
}

.dTable .dText {
  width:700px;
}

.gText1 {
  width: 150px;
}

.gText2 {
  width: 550px;
}

.eText1 {
  width: 172px;
}

.eText2 {
  width: 610px;
}

.eText2a {
  width: 545px;
}

.eText3{
  width: 65px;
  text-align: right;
}


.a-clickable-row:hover, .d-clickable-row:hover, .g-clickable-row:hover,
.e-clickable-row:hover, .x-clickable-row:hover
 {
  background-color: #575757;

}

.highlight {
  background-color: #ABABAB;
}
